.match{
  cursor: pointer;
}

.hideFromResearch{
  display: none;
}

.joueurSelect{
  margin-bottom: 10px;
}

.rouge{
  color: red ;
}

.droite{
  float: right;
}

.tableInput{
  width: 60px;
  margin-right: 10px;
  margin-left: 10px;
}

.matchControls{
  margin-right: 10px;
}

.btn{
  margin-right: 5px;
}
