<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <form [formGroup]="tournoiForm" (ngSubmit)="onSaveTournament()">
      <div class="form-group">
        <label for="tournamentName">Nom du tournoi :</label>
        <input type="text" class="form-control" id="tournamentName" formControlName="tournamentName">
      </div>
      <div class="form-group">
        <label for="tournamentFormat">Format du tournoi :</label>
        <input type="text" class="form-control" id="tournamentFormat" formControlName="tournamentFormat">
      </div>
      <div class="form-group">
        <label>Catégorie :</label>
        <select class="form-control" id="tournamentType" formControlName="tournamentType">
          <option value="Casual">Casual</option>
          <option value="Competitif"> Competitif</option>
        </select>
      </div>
      <div class="form-group">
        <label for="tournamentPlace">Localisation du tournoi :</label>
        <input type="text" class="form-control" id="tournamentPlace" formControlName="tournamentPlace">
      </div>
      <div class="form-group">
        <label for="tournamentDate">Date du tournoi :</label>
        <input type="date" class="form-control" id="tournamentDate" formControlName="tournamentDate">
      </div>
      <button class="btn btn-primary" [disabled]="tournoiForm.invalid" type="submit">Envoyer</button>
    </form>
  </div>
</div>
