<h2>{{ tournoi.tournamentName }}</h2>
<hr/>

<div class="row">
  <div class="col">
    <h3>Paramètres du tournoi</h3>
    <div><b>Joueurs inscrits : </b>{{ this.nombreDeJoueurs }}</div>
    <div><b>Nombre de rondes :</b> {{ tournoi.nombreDeRondes }}</div>
    <div><b>Format :</b> {{ tournoi.format }}</div>
    <hr/>

    <div>
      <form [formGroup]="formRondes" *ngIf="forceRoundNumber === null">
        <div class="form-group">
          <label for="nombreAForcer">Forcer un nombre de rondes :</label>
          <input type="text" id="nombreAForcer" formControlName="nombreAForcer">
        </div>
        <button class="btn btn-primary" type="submit" (click)="onForcerRondes()">Définir nombre de rondes</button>
      </form>

      <div *ngIf="forceRoundNumber">
        <p>Rondes fixées à {{ tournoi.nombreDeRondes }}, quelque soit le nombre de joueurs.</p>
        <button class="btn btn-primary" (click)="onAnnulerForcageDesRondes()" >Rétablir calcul automatique des rondes</button>
      </div>
      <button class="btn btn-success" *ngIf="tournoi.isLive === false" [disabled]="tournoi.nombreDeRondes < 1" (click)="onCommencerTournoi()">Lancer les rondes</button>
      <button class="btn btn-success" *ngIf="tournoi.isLive === true" (click)="routeToRondes()">Ronde en cours</button>
    </div>

  </div>

  <div class="col">

    <h3>Rechercher un joueur local</h3>
    <form [formGroup]="formRecherche" (ngSubmit)="onChercherJoueurLocal()">
      <div class="form-group">
        <label for="chercheJoueur">Rechercher dans les joueurs locaux</label>
        <input type="text" id="chercheJoueur" formControlName="chercheJoueur">
      </div>
      <button class="btn btn-primary">Rechercher</button>
    </form>

    <div *ngIf="joueursTrouves">
      <div *ngFor="let joueur of joueursTrouves ; let z = index ;">
        <button class="btn btn-default" (click)="onInscrireJoueurDepuisRecherche(joueur.playerID)" onmouseover="this.style.color='#42c431'" onmouseout="this.style.color=''">
          <div><b>{{ joueur.firstName }}  {{ joueur.lastName }} - {{ joueur.playerID }}</b></div>
        </button>
      </div>
    </div>

    <h3 style="margin-bottom: 15px;">Créer un nouveau joueur</h3>
    <app-creer-joueur-local></app-creer-joueur-local>

  </div>

 <div class="col">
   <h3>Joueurs inscrits :</h3>
   <table class="tabjoueurs">
     <tr *ngFor="let joueur of this.tournoi.registeredPlayers ; let i = index ;" (click)="onDesinscrireJoueur(i)" onmouseover="this.style.color='#ff0505'" onmouseout="this.style.color='black'">
       <td><span *ngIf="joueur.firstName !== 'Bye'" style="padding-right: 10px">{{ joueur.firstName }}</span></td>
       <td><span *ngIf="joueur.firstName !== 'Bye'" style="padding-right: 10px">{{ joueur.lastName }}</span></td>
       <td><span *ngIf="joueur.firstName !== 'Bye'"> {{ joueur.playerID }}</span></td>
     </tr>
   </table>
 </div>
</div>
