.tabjoueurs{
  cursor: pointer;
}

#nombreAForcer{
  width: 60px;
}

#fixTop{
  width: 100px;
}

.rouge{
  color: red;
}

.fixRound{
  display: inline;
  margin-left: 5px;
}

.finalBtn{
  width: 250px;
  margin-bottom: 5px;
}
