<h2>{{ tournoi.tournamentName }}</h2>
<hr/>

<div class="row">
  <div class="col">
    <h3>Paramètres du tournoi</h3>
    <div><b>Format :</b> {{ tournoi.format }}</div>
    <div><b>Date :</b> {{ tournoi.tournamentDate }}</div>
    <div><b>Joueurs inscrits : </b>{{ this.nombreDeJoueurs }}</div>
    <div><b>Nombre de rondes : </b> {{ tournoi.nombreDeRondes }}</div>
    <div *ngIf="tournoi.finalBracket"><b>Phases éliminatoires : </b>Oui (top {{ tournoi.tournamentCut }})</div>
    <div *ngIf="!tournoi.finalBracket"><b>Phases éliminatoires : </b> Non</div>
    <hr/>
    <div>
      <form [formGroup]="formRondes" *ngIf="forceRoundNumber === null">
        <div class="form-group">
          <label for="nombreAForcer">Nombre de rondes :</label>
          <input class="form-control fixRound" type="number" id="nombreAForcer" formControlName="nombreAForcer">
        </div>
        <button class="btn btn-primary fixRound" type="submit" (click)="onForcerRondes()">Fixer le nombre de rondes</button>
      </form>
      <div *ngIf="tournoi.roundNumberIsFixed === true">
        <p class="rouge">Rondes fixées à {{ tournoi.nombreDeRondes }}, quelque soit le nombre de joueurs.</p>
        <button class="btn btn-primary" (click)="onAnnulerForcageDesRondes()" >Rétablir calcul automatique des rondes</button>
      </div>
      <hr/>
      <div>
        <p><b>Phases finales</b></p>
        <form [formGroup]="formTop">
          <div class="form-group" *ngIf="tournoi.finalBracket">
            <label for="fixTop">Top :</label>
            <select class="form-control fixRound" id="fixTop" formControlName="fixTop">
              <option value="0">Top 8</option>
              <option value="1">Top 4</option>
              <option value="2">Top 2</option>
            </select>
          </div>
        </form>
        <button class="btn btn-primary finalBtn" (click)="onSetTournamentTop()" *ngIf="tournoi.finalBracket">Fixer phases finales</button>
        <button class="btn btn-success finalBtn" *ngIf="!tournoi.finalBracket" (click)="onToggleFinals()">Activer les phases finales</button>
        <button class="btn btn-danger finalBtn" *ngIf="tournoi.finalBracket" (click)="onToggleFinals()">Desactiver les phases finales</button>
      </div>
      <hr/>
      <button class="btn btn-success" *ngIf="tournoi.isLive === false" [disabled]="tournoi.nombreDeRondes < 1" (click)="onCommencerTournoi()">Passer au pré-lancement</button>
      <button class="btn btn-success" *ngIf="tournoi.isLive === true" (click)="routeToRondes()">Ronde en cours</button>
      <hr/>
      <div>
        <form [formGroup]="formEditor">
          <div class="form-group">
            <label for="editor">Ajouter un éditeur (email):</label>
            <input class="form-control" type="text" id="editor" formControlName="editor">
          </div>
          <button class="btn btn-primary" (click)="onAddEditor()">Ajouter éditeur</button>
        </form>
        <b>Editeurs :</b>
        <div *ngFor="let editor of tournoi.editors ; let k = index">
          <div *ngIf="k !== 0">
            {{ editor }} <button class="btn btn-danger" (click)="onDeleteEditor(k)">x</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <h3>Rechercher un joueur</h3>
    <form [formGroup]="formRecherche" (ngSubmit)="onChercherJoueurLocal()">
      <div class="form-group">
        <label for="chercheJoueur">Rechercher dans les joueurs</label>
        <input class="form-control" type="text" id="chercheJoueur" formControlName="chercheJoueur" autocomplete="off">
      </div>
    </form>

    <div *ngFor="let joueur of joueurs ; let z = index ;">
      <div *ngIf="matchResearch(z)">
        <button class="btn btn-default" (click)="onInscrireJoueurDepuisRecherche(joueur.playerID)" onmouseover="this.style.color='#42c431'" onmouseout="this.style.color=''">
          <b>{{ joueur.firstName }} "{{ joueur.nickname }}" {{ joueur.lastName }} - {{ joueur.playerID }} </b>
        </button>
      </div>
    </div>
    <hr/>
    <h3 style="margin-bottom: 15px;">Créer un nouveau joueur</h3>
    <app-creer-joueur-local></app-creer-joueur-local>
  </div>
 <div class="col">
   <h3>Joueurs inscrits :</h3>
   <form [formGroup]="formRegResearch">
     <label for="regSearch">Chercher parmis les inscrits :</label>
     <input type="text" id="regSearch" class="form-control" formControlName="regSearch">
   </form>
   <table class="tabjoueurs">
     <tr *ngFor="let joueur of this.tournoi.registeredPlayers ; let i = index ;" (click)="onDesinscrireJoueur(i)" onmouseover="this.style.color='#ff0505'" onmouseout="this.style.color='black'">
       <td><span *ngIf="matchRegResearch(i)" style="padding-right: 10px">{{ joueur.lastName }}</span></td>
       <td><span *ngIf="matchRegResearch(i)" style="padding-right: 10px"> "{{ joueur.nickname }}"</span></td>
       <td><span *ngIf="matchRegResearch(i)">{{ joueur.firstName }}</span></td>
     </tr>
   </table>
 </div>
</div>
