<div class="row">
  <div class="col-xl-12">
    <button class="btn btn-primary" (click)="onAjouterJoueur()">Ajouter un joueur</button>
    <form [formGroup]="chercherJoueur">
      <div class="form-group">
        <label for="search">Recherche :</label>
        <input class="form-control" type="text" id="search" formControlName="search" autocomplete="off">
      </div>
    </form>
    <form [formGroup]="editPlayer">
    <table class="table table-sm table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Nom</th>
          <th>Pseudo</th>
          <th>Prénom</th>
          <th>Numéro d'ID</th>
          <th class="centrer">Editer</th>
          <th class="centrer">Supprimer</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let joueur of joueurs ; let i = index">
          <td *ngIf="matchResearch(i)" >
            <span *ngIf="toggleEdit !== i">{{ joueur.lastName }}</span>
            <span *ngIf="toggleEdit === i"><input class="form-control" id="editLastName" type="text" formControlName="editLastName"></span>
          </td>
          <td *ngIf="matchResearch(i)" >
            <span *ngIf="toggleEdit !== i">"{{ joueur.nickname }}"</span>
            <span *ngIf="toggleEdit === i"><input class="form-control" id="editNickname" type="text" formControlName="editNickname"></span>
          </td>
          <td *ngIf="matchResearch(i)" >
            <span *ngIf="toggleEdit !== i">{{ joueur.firstName }}</span>
            <span *ngIf="toggleEdit === i"><input class="form-control" id="editFirstName" type="text" formControlName="editFirstName"></span>
          </td>
          <td *ngIf="matchResearch(i)" >
            <span>{{ joueur.playerID }}</span>
          </td>
          <td *ngIf="matchResearch(i)" class="centrer">
            <button *ngIf="toggleEdit === -1" class="btn btn-primary" (click)="onEditPlayer(i)">edit</button>
            <button *ngIf="toggleEdit === i" class="btn btn-success" (click)="onValidateChanges(i)">Valider</button>
            <button *ngIf="toggleEdit === i" class="btn btn-danger" (click)="onCancelEdit()">Annuler</button>
          </td>
          <td *ngIf="matchResearch(i)" class="centrer"><button class="btn btn-danger" (click)="onDeleteJoueur(joueur)">x</button></td>
        </tr>
      </tbody>
    </table>
    </form>
  </div>
</div>
