.btn{
  margin-right: 5px;
}

#roundFocus{
  margin-top: 10px;
}

.tdMatch{
  padding-right: 15px;
}

table{
  cursor: pointer;
}

.droite{
  float: right;
}

.score{
  width: 60px;
  height: 40px ;
  display: inline;
  margin: 5px ;
}

.rouge{
  color: red;
}

.vert{
  color: #42c431;
}

.hideValidate{
  display: none;
}
