<div class="container">
  <div class="row">
    <!--
    <div class="col">
      <div *ngFor="let match of matchs ; let i = index">
        <button class="btn btn-default"  (click)="setTablefocus(i)" onmouseover="this.style.color='#42c431'" onmouseout="this.style.color=''">
          Table {{ i + 1 }} - {{ match.joueur1.firstName }} {{ match.joueur1.lastName }} VS {{ match.joueur2.firstName }} {{ match.joueur2.lastName }}
        </button>
      </div>
      <button class="btn btn-primary">Modifier les appareillements</button>
    </div>
    <div class="col" style="text-align: center;">
      <h3>Table {{ this.focusTable + 1}}</h3>
      <p><b>
        {{ this.matchs[this.focusTable].joueur1.firstName }} {{ this.matchs[this.focusTable].joueur1.lastName }} VS {{ this.matchs[this.focusTable].joueur2.firstName }} {{ this.matchs[this.focusTable].joueur2.lastName }}
      </b></p>
      <form [formGroup]="formScores" (ngSubmit)="onSubmitScore(this.focusTable)">
        <div class="form-group">
          <input type="text" id="scorej1" formControlName="scorej1" style="width: 30px; margin: 15px;">
          <input type="text" id="scorej2" formControlName="scorej2" style="width: 30px; margin: 15px;">
        </div>
        <button class="btn btn-success" type="submit">Enregistrer le score</button>
      </form>
    </div>
    <div class="col">
      <h3>Classement actuel</h3>
      <div *ngFor="let joueur of classement">{{ joueur.firstName }} {{ joueur.lastName }}  {{ joueur.score }} </div>
    </div>
    -->
  </div>
</div>
